# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

*.prefs

.classpath

.project

.checkstyle

*.launch
/.DS_Store

iot-infomgt/iot-infomgt-dao/.settings/

iothub/.settings/

iot-ruleengine/ruleengine-api/.settings/

iot-ruleengine/ruleengine-core/.settings/
